<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-03-01-mac_software.md</key>
			<dict>
				<key>lastModification</key>
				<real>541576465.90969098</real>
				<key>version</key>
				<dict>
					<key>0103048494ea1ce1e1a2be0de1f237ebacf0c77cecdb03d34cb38cd25340a980</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2018-03-01-myblog.md</key>
			<dict>
				<key>lastModification</key>
				<real>541580735.029935</real>
				<key>version</key>
				<dict>
					<key>0103048494ea1ce1e1a2be0de1f237ebacf0c77cecdb03d34cb38cd25340a980</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2018-03-01-work_and_stady.md</key>
			<dict>
				<key>lastModification</key>
				<real>541576014.90486002</real>
				<key>version</key>
				<dict>
					<key>0103048494ea1ce1e1a2be0de1f237ebacf0c77cecdb03d34cb38cd25340a980</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-03-01-myblog.md</string>
		</array>
		<array>
			<string>2018-03-01-mac_software.md</string>
		</array>
		<array>
			<string>2018-03-01-work_and_stady.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0103048494ea1ce1e1a2be0de1f237ebacf0c77cecdb03d34cb38cd25340a980</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
